.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
button{
    background-color: rgb(115, 115, 238);
    padding: 15px 25px;
    border: none;
    color: white;
    border-radius: 5px;
}